{
  "extends": "@react-native-community",
  "rules": {
    "quotes": [2, "double", { "avoidEscape": true }]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "jsx": true,
    "modules": true
  }
}